/* background: rgb(169, 99, 91); dark
background: rgb(220, 228, 242); off white
background: rgb(167, 189, 217); blue
background: rgb(217, 210, 108); yellow
background: rgb(233, 195, 208); pink
color: rgb(255, 255, 255) gray;
color: rgb(115, 115, 115); white*/
/* background-image: url(/img/chinook.jpg); */

body {
  background-color: #BADA55;
  height: 990px;
}

fieldset {
  height: 400px;
  width: 318px;
  float: left;
  color: rgb(255, 255, 255);
  background-color: rgb(169, 99, 91);
  border-style: double;
}

fieldset legend {
  float: left;
  padding: 1px;
  margin-left: 75px; 
  margin-top: 1px; 
  /* z-index: 2; */
}

/* fieldset legend:hover{
  filter: invert(50%);
} */


/* 
.shadowText{
  /* float: right;
  margin-top: 50px; 
  position: absolute;
  color: black;
  font-size: 15px;
    top: 92px;
  left: 45px;
  margin: 0px;
  z-index: 0;

} */

div{
  float: left;
  height: 90px;
  width: 318px; 
  padding: 0px;
}

/* label.salesData{
  margin-top: 0px;
  line-height: 25px;
  float: left;
  width: 200px;
/* } */

/* input.salesData{
  float: right;
  width: 90px;
  margin-right: 0px;
  padding: 0px;
}  */

h3{
  margin: 1px;
  color: rgb(233, 195, 208);
  font-family: 'Darker Grotesque', sans-serif;
}

h4 {
margin: 1px;
margin-bottom: 1px;
text-align: center;
}
figure {
  float: left;
  height: 75px;
  /* line-height: 1px; */
  padding: 10px;
  margin: 5px;
}

#rangeAmA {
  width: 142px;
  position: absolute;
  top: 200x;
  left: 45px;
  margin: 0px;
  margin: 0px; 
  margin-top: -10px; 
}
#rangeAmO {
  width: 141px;
  float: right;
  margin: 0px;
  margin-top: -10px;
}

#rangePmA {
  width: 142px;
  position: absolute;
  /* float: left; */
  top: 225px;
  left: 45px;
  margin: 0px;
}
#rangePmO {
  width: 141px;
  float: right;
  margin: 0px;
  margin-top: 1px;
}

p {
  line-height: 1px;
  margin: 1px;
  width: 275px;
  float: left;
  text-align: center;
  word-spacing: 5px;
  margin: auto;
}

ul#listAm{
  float: left;
  width: 137px;
  margin: auto;
  padding: 1px;
  margin-left: 10px;
  margin-top: 0px;
}

ul#listPm{
  float: right;
  width: 120px;
  margin: 1px;
  padding: 1px;
  margin-right: 7px;
  margin-top: 0px;
}

li {
  width: 137px;
  margin: 1px;
  padding: 0px;
  /* padding-left: 0px; */
}

.newLocation {
  display: none;
}

.newUpdate {
display: none;
}

section {
  float: left;
  width: 250px;
}
section button {
  float: left;
  margin: auto;
}

table {
 text-align: center;
  border-style: groove;
  float: left;
  color: black;
  /* margin-right: 270px; */
  /* margin-top: 90px; */
}

/* body {
  background-color: rgb(115, 115, 115);
  color: whitesmoke;
} */

#pageBlock {
    /* background-image: url(/img/family.jpg); */
  /* background-image: url(/img/chinook.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 760px;
  padding: 33px;
  float: left;
  
}

header {
  transition-timing-function: ease-in;
  transition: 0.2s;
  /* transform: translateY(130%); */
  color: rgb(115, 115, 115);
  font-size: x-large;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Darker Grotesque', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  width: 750px;
  height: 88px;
  padding: 15px;
  margin: 15px;
}
header:hover{
   transition-timing-function: ease-out;
    transition: 0.25s;
    /* transform: translateY(0); */
  border-color: rgb(220, 228, 242); 
  color: rgb(169, 99, 91);
  border-style: dotted;
}


article{
  color: #BADA55;
  font-family: 'Lato', sans-serif;
}

#generic_contact {
color: rgb(217, 210, 108);
}

#worldLocaleHours{
  padding: 17px;
  margin: 11px;
  float: left;

}

/* i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
<p>Down arrow: <i class="arrow down"></i></p>
<p>Up arrow: <i class="arrow up"></i></p> */